.mb-small{margin-bottom: 2rem;}
.mb-medium{margin-bottom: 3.5rem;}
.mb-large{margin-bottom: 5rem;}

.hide-for-mobile{
    @include respond(mobile){display:none;}
}

.hide-for-desktop{
    display: none;
    @include respond(mobile){display: block;}
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;
    gap: 60px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
    max-width: 95%;
    margin: 6rem auto;
    width: 80rem;

    @include respond(mobile){
        flex-direction: column;
        gap: 4rem;
        padding : 0 0 2rem 0;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 85%;
    }

    &__img{
        align-self: stretch;
    }
}